<ion-content id="container">

  <ion-text color="dark">
    <ion-row>
      <ion-row>
        <ion-button href="home"><ion-icon name="arrow-back-outline" class="navigation-icon"></ion-icon></ion-button>
        <h5 class="title">Transactions</h5>
      </ion-row>
      <ion-icon name="refresh-outline" class="navigation-icon"></ion-icon>
    </ion-row>
  </ion-text>

  <ion-label class="transfer-date">Date of transaction</ion-label>
  <ion-card >
    <ion-col>
      <ion-row (click)="showModal()">
        <ion-label class="transaction-title">Received 1</ion-label>
        <ion-label class="transaction-value">100 ETN</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="transaction-date">Data</ion-label>
        <ion-label class="transaction-status">status</ion-label>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-label class="transaction-title">Received</ion-label>
        <ion-label class="transaction-value">100 ETN</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="transaction-date">Data</ion-label>
        <ion-label class="transaction-status">status</ion-label>
      </ion-row>  
    </ion-col>
  </ion-card>

  <ion-label class="transfer-date">Date of transaction</ion-label>
  <ion-card >
    <ion-col>
      <ion-row>
        <ion-label class="transaction-title">Received</ion-label>
        <ion-label class="transaction-value">100 ETN</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="transaction-date">Data</ion-label>
        <ion-label class="transaction-status">status</ion-label>
      </ion-row>  
    </ion-col>
  </ion-card>

</ion-content>
