ion-row {
  justify-content: space-between;
}

ion-item {
  --background: white;
}

.operator-logo {
  width: 50px;
  height: 50px;
  margin-top:30px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

.main-card{
  position: relative;
  background-color: #56b0ed;
  text-align: center;
  margin: 0;
  color: white;
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  background-color: white;
  border-radius: 50%;
  color: black;
}

.overlay-card {
  transform: translateY(-20px);
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;

}

.operator-name, .top-up-value {
  font-size: 15px;
  margin: 5px;
}
.transfer-date {
  font-size: 12px;
  font-weight: 400;
  margin: 5px 0 30px 0;
}

.navigation-icon {
  margin: auto 10px;
  color: #ACACAC;
}

p {
  font-size: 10px;
  color: #ACACAC;
  font-weight: 600;
  margin-left: 20px;
}

.card {
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: white;
}

.detail-title {
  font-size: 13px;
  font-weight: 500;
}

.detail-value {
  font-size: 12px;
  font-weight: 400;
  color: #ACACAC;
  margin-top: 5px;
}

.status-title, .fee-title {
  font-size: 14px;
  color: #7e7c7c;
  font-weight: 400;
}

.status-value, .fee-value {
  font-size: 14px;
}

