<ion-content>

    <ion-card class="top-up-header">
      <ion-col>
        <!-- <img src="assets/claro-brazil.svg" class="operattor-logo"> -->
        <h3 class="operator-name">Top up - Claro Brazil</h3>
        <h5 class="top-up-value">376 ETN </h5>
        <p class="transfer-date">Date of transactions</p>
      </ion-col>
    </ion-card>
  
    <ion-card>
        <ion-row >
            <ion-label class="transaction-title">Received</ion-label>
            <ion-label class="transaction-value">100 ETN</ion-label>
        </ion-row>
    </ion-card>

    <ion-card>
        <ion-col>
            <ion-item>
                <ion-label class="transaction-title">Received</ion-label>
                <ion-label class="transaction-value">100 ETN</ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="transaction-date">Data</ion-label>
                <ion-label class="transaction-status">status</ion-label>
            </ion-item>  
        </ion-col>
    </ion-card>
      
    <ion-card>
        <ion-row >
            <ion-label class="transaction-title">Received</ion-label>
            <ion-label class="transaction-value">100 ETN</ion-label>
        </ion-row>
    </ion-card>

  </ion-content>
  
  