#container {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f6f8;
}

.title {
  font-size: 14px;
  margin: 10px 0 10px 10px;
}

.refresh {
  margin-top: 2px;
}

.refresh-text {
  font-size: 8px;
  font-weight: 600;
  color: #ACACAC;
  margin: 0;
}

.main-card {
  background-color: #56b0ed;
  color: white;
  margin: 0 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.balance h1 {
  font-size: 16px;
  margin: 15px 10px 5px 10px;
  color: white;
  font-weight: 400;
}

.rate h3 {
  font-size: 15px;
  margin: 0 10px 15px 10px;
  font-weight: 300;
}

.rate {
  margin: 0;
}

.rate ion-icon {
  color: white;
  margin: auto;
}

.operation-icon ion-icon {
  color: black;
  font-size: 20px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.operation-text {
  font-size: 12px;
  margin: 3px 0;
}

.navigation-icon {
  font-size: 20px;
  margin: auto 10px auto 0;
  font-weight: lighter;
  color: #ACACAC;
}

.transaction-title {
  font-size: 12px;
}

.transaction-date, .transaction-status {
  font-size: 11px;
  color: #ACACAC;
  font-style: italic;
}

.transaction-value {
  font-size: 12px;
  font-weight: 500;
  color: #29c467;
}

.info {
  font-size: 10px;
  margin: 5px 0 5px 10px;
  color: #ACACAC;
  font-weight: 600;
}

.availability {
  margin-bottom: 0px;
}

.last-transactions {
  margin: 0 10px;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ion-item {
  --background: white;
}

ion-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ion-col {
  text-align: center;
}

ion-slides {
  margin: 0 10px;
}

ion-button {
  --background: transparent;
  --box-shadow: none;
  --border: none;
}

.slider-card {
  margin: 0;
  background-color: white;
  width: 90px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.service {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 0;
}

.service-card {
  margin-top: 0;
  margin-right: 0px;
  width: 110px;
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-img {
  width: 50px;
  width: 40px;
  margin: auto;
}

.slider-text {
  margin: 0 10px 5px 10px;
  color: #ACACAC;
  font-size: 8px;
  font-weight: 600;
  text-align: center;
}
/*# sourceMappingURL=home.page.css.map */