<ion-content id="container">
  
  <ion-text color="dark">
    <ion-row>
      <h5 class="title">Wallet</h5>
      <ion-row>
        <ion-col class="refresh">
          <p class="refresh-text">Last refreshed</p>
          <p class="refresh-text">Just now</p>
        </ion-col>
        <ion-icon name="refresh-outline" class="navigation-icon"></ion-icon>
      </ion-row>
    </ion-row>
  </ion-text>

  <ion-card class="main-card">
    <ion-row class="balance">
      <h1>Balance</h1>
      <h1>{{balance}} ETN</h1>
    </ion-row>
    <ion-row class="rate">
      <h3>BBP Value</h3>
      <h3>0.05 GBP<ion-icon name="caret-down-outline"></ion-icon></h3>
    </ion-row>

    <ion-row class="operation-icon">
      <ion-col>
        <ion-icon name="arrow-up-outline"></ion-icon>
        <p class="operation-text">Pay</p>
      </ion-col>
      <ion-col>
        <ion-icon name="arrow-down-outline"></ion-icon>
        <p class="operation-text">Receive</p>
      </ion-col>
      <ion-col>
        <ion-icon name="notifications-outline"></ion-icon>  
        <p class="operation-text">Notifications</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-text color="dark">
    <ion-row>
      <h5 class="title">Transactions</h5>
      <ion-icon name="arrow-forward" class="navigation-icon" (click)="openTransactionsWithState()"></ion-icon>
    </ion-row>
  </ion-text>

  <ion-card class="last-transactions" *ngFor="let transaction of transactions | keyvalue | slice: 0:2">
    
    <ion-item (click)="openTransactionWithState(transaction.value.id, transaction.value.topUpInfo !== undefined ? true : false)">
      <ion-col>
        <ion-row >
          <ion-label class="transaction-title">{{transaction.value.paymentType === 1 ? 'Received' : ''}}{{transaction.value.paymentType === 2 ? 'Sent' : ''}}{{transaction.value.paymentType === 3 ? 'Top Up' : ''}}</ion-label>
          <ion-label class="transaction-value">{{transaction.value.destinationAmount}} ETN</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="transaction-date">{{transaction.value.dateCreated | date: 'mediumDate'}}. {{transaction.value.dateCreated | date: 'h:mm'}}</ion-label>
          <ion-label class="transaction-status"><ion-icon name="ellipse-sharp" class="status-icon" color="{{transaction.value.status === 1 ? 'warning' : ''}}{{transaction.value.status === 2 ? 'success' : ''}}{{transaction.value.status === 3 ? 'danger' : ''}}"></ion-icon>
            {{transaction.value.status === 1 ? 'Pending' : ''}}{{transaction.value.status === 2 ? 'Complete' : ''}}{{transaction.value.status === 3 ? 'Failed' : ''}}
          </ion-label>
        </ion-row>
      </ion-col>
    </ion-item>
  </ion-card>

  <ion-text color="dark">
    <ion-row>
      <h5 class="title availability">Pay with ETN</h5>
      <ion-icon name="help-circle-outline" class="navigation-icon"></ion-icon>
    </ion-row>
    <p class="info">Available in United Kingdom</p>
  </ion-text>

  <ion-slides [options]="option">
    
    <ion-slide *ngFor="let suggestion of suggestions">
      <ion-card class="slider-card">
        <img src="{{suggestion.logo}}" class="card-img">
        <p class="slider-text">{{suggestion.name}}</p>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <ion-text color="dark">
    <p class="info">All categories</p>
  </ion-text>

  <ion-row class="service">
    <ion-card class="service-card">
      <img src="assets/wallet-utilities.svg" class="service-img">
      <p class="slider-text">Utilities</p>
    </ion-card>
    <ion-card class="service-card">
      <img src="assets/wallet-topup.svg" class="service-img">
      <p class="slider-text">Top-Up</p>
    </ion-card>
  </ion-row>

</ion-content>

<ion-tab-bar>
  <ion-tab-button tab="discover">
    <ion-icon name="search-outline"></ion-icon>
    <ion-label>Discover</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="wallet">
    <ion-icon name="wallet-outline"></ion-icon>
    <ion-label>Wallet</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="more">
    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    <ion-label>More</ion-label>
  </ion-tab-button>
</ion-tab-bar>




