#container {
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f6f8;
}

ion-card {
  --background:#56b0ed;
  --color: white;
}

.title {
  margin-left: 10px;
}
.refresh {
  margin: auto;
}

.refresh-text {
  font-size: 10px;
  color: #ACACAC;
  margin: 0;
}

.balance h1 {
  margin: 15px 10px 5px 10px;
  color: white;
  font-weight: 400;
}

.rate h3 {
  margin: 0 10px;
  font-weight: 300;
}

.rate ion-icon {
  color: white;
  margin: auto;
}

.navigation-icon {
  font-size: 25px;
  margin: auto 10px auto 0;
  font-weight: lighter;
  color: #ACACAC;
}

.transaction-title {
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.transaction-date, .transaction-status{
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #ACACAC;
  font-style: italic;
}

.transaction-value{
  margin: 10px 0 5px 0;
  font-size: 15px;
  font-weight: 500;
  color: #29c467;
}


ion-item {
  --background: white;
}
ion-row {
  justify-content: space-between;
}

ion-icon {
  color: black
}

ion-button {
  --background: #f5f6f8;
  height: 50px;
  width: 50px;
  --border-radius: 50%;
}

ion-col {
  text-align: center;
}

